src/dotmac/platform/api/gateway.wadl

<?xml version="1.0" ?>
<application xmlns="http://wadl.dev.java.net/2009/02">
   <resources base="https://api.dotmac.local">
      <resource path="/auth/token">
         <method name="POST">
            <doc>Issue access and refresh tokens</doc>
         </method>
      </resource>
      <resource path="/auth/token/verify">
         <method name="POST">
            <doc>Verify access token validity</doc>
         </method>
      </resource>
      <resource path="/auth/sessions">
         <method name="POST">
            <doc>Create a new session</doc>
         </method>
         <method name="GET">
            <doc>List active sessions</doc>
         </method>
      </resource>
      <resource path="/auth/sessions/{session_id}">
         <method name="GET">
            <doc>Fetch a session by identifier</doc>
         </method>
         <method name="DELETE">
            <doc>Revoke a session</doc>
         </method>
      </resource>
      <resource path="/auth/api-keys">
         <method name="POST">
            <doc>Create an API key</doc>
         </method>
         <method name="GET">
            <doc>List API keys</doc>
         </method>
      </resource>
      <resource path="/auth/api-keys/{key_id}">
         <method name="DELETE">
            <doc>Revoke an API key</doc>
         </method>
      </resource>
      <resource path="/health">
         <method name="GET">
            <doc>Platform health check</doc>
         </method>
      </resource>
   </resources>
</application>
